<div id="footer" class="content">
  <ul>
    <li>
      <a href="http://panpainter.com"><span>Blog</span></a>
    </li>
  </ul>
  <p>&copy; 2001-<%= Time.new.year %> <a href="mailto:miketierney@gmail.com">Michael Tierney</a>.<em> Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a>.</em></p>
</div> <!-- #footer -->