<div id="header" class="content">
  <div id="vcard" class="grid_2 omega">
    <a href="miketierney.vcf"><span>Download vCard</span></a>
  </div> <!-- #vcard -->

  <h1 class="grid_4 alpha">Michael Tierney</h1>
  <h2 class="grid_4 alpha">Development &bull; Design &bull; Illustration</h2>
</div> <!-- #header -->
