<% content_for :body_class do %>
 class="contact"
<% end %>

<h3>Drop me a line</h3>
<dl class='vcard'>
  <dt>Email</dt>
  <dd><a href="mailto:info@miketierney.com">info@miketierney.com</a></dd>
  <dt>Phone</dt>
  <dd>206.301.2079</dd>
</dl>