<ul>
  <li id="carbonmade" class="grid_3 alpha">
    <a href="http://panpainter.carbonmade.com" rel="me">
      <strong>Carbonmade</strong> <em>Design &amp; Illustration Portfolios</em>
    </a>
  </li>
  <li id="github" class="grid_3 omega">
    <a href="http://github.com/miketierney" rel="me">
      <strong>Github</strong> <em>Code that I&rsquo;ve written</em>
    </a>
  </li>
  <li id="twitter" class="grid_3 alpha">
    <a href="http://twitter.com/miketierney" rel="me">
      <strong>Twitter</strong> <em>Keep up with my day-to-day</em>
    </a>
  </li>
  <li id="lastfm" class="grid_3 omega">
    <a href="http://www.last.fm/user/panpainter" rel="me">
      <strong>Last.fm</strong> <em>What I&rsquo;ve been listening to</em>
    </a>
  </li>
  <li id="linkedin" class="grid_3 alpha">
    <a href="http://www.linkedin.com/in/mptierney">
      <strong>LinkedIn</strong> <em>For business contacts</em>
    </a>
  </li>
  <li id="tumblr" class="grid_3 omega">
    <a href="http://tumble.panpainter.com" rel="me">
      <strong>Tumblr</strong> <em>Chronicling my fascinations</em>
    </a>
  </li>
  <li id="gowalla" class="grid_3 alpha">
    <a href="http://gowalla.com/users/panpainter" rel="me">
      <strong>Gowalla</strong> <em>Places I&rsquo;ve been</em>
    </a>
  </li>
  <li id="flickr" class="grid_3 omega">
    <a href="http://flickr.com/photos/panpainter" rel="me">
      <strong>Flickr</strong> <em>Photos that I&rsquo;ve taken</em>
    </a>
  </li>
</ul>
