<ul>
  <li id="github" class="grid_3 alpha">
    <a href="http://github.com/miketierney" rel="me">
      <strong>Github</strong> <em>Code that I&rsquo;ve written</em>
    </a>
  </li>
  <li id="carbonmade" class="grid_3 omega">
    <a href="http://panpainter.carbonmade.com" rel="me">
      <strong>Carbonmade</strong> <em>Design &amp; Illustration Portfolios</em>
    </a>
  </li>
  <li id="twitter" class="grid_3 alpha">
    <a href="http://twitter.com/miketierney" rel="me">
      <strong>Twitter</strong> <em>Keep up with my day-to-day</em>
    </a>
  </li>
  <li id="linkedin" class="grid_3 omega">
    <a href="http://www.linkedin.com/in/mptierney">
      <strong>LinkedIn</strong> <em>For business contacts</em>
    </a>
  </li>
  <li id="flickr" class="grid_3 alpha">
    <a href="http://flickr.com/photos/panpainter" rel="me">
      <strong>Flickr</strong> <em>Photos that I&rsquo;ve taken</em>
    </a>
  </li>
  <li id="dribbble" class="grid_3 omega">
    <a href="http://dribbble.com/miketierney" rel="me">
      <strong>Dribbble</strong> <em>Misc. Design &amp; Illustration Projects</em>
    </a>
  </li>
</ul>
