<div class="container_12">
  <div id="wrapper" class="grid_6 prefix_3 suffix_3 alpha omega">
    <div id="header" class="content">
      <div id="vcard" class="grid_2 omega">
        <a href="miketierney.vcf"><span>Download vCard</span></a>
      </div>
      <h1 class="grid_4 alpha">Michael Tierney</h1>
      <h2 class="grid_4 alpha">User Interface Designer and Engineer</h2>
    </div>
    <div id="body" class="content">
      <ul>
        <li id="carbonmade" class="grid_3 alpha">
          <a href="http://panpainter.carbonmade.com" rel="me">
            <strong>Carbonmade</strong> <em>Design &amp; Illustration Portfolios</em>
          </a>
        </li>
        <li id="github" class="grid_3 omega">
          <a href="http://github.com/panpainter" rel="me">
            <strong>Github</strong> <em>Code that I&rsquo;ve written</em>
          </a>
        </li>
        <li id="twitter" class="grid_3 alpha">
          <a href="http://twitter.com/panpainter" rel="me">
            <strong>Twitter</strong> <em>Keep up with my day-to-day</em>
          </a>
        </li>
        <li id="lastfm" class="grid_3 omega">
          <a href="http://www.last.fm/user/panpainter" rel="me">
            <strong>Last.fm</strong> <em>What I&rsquo;ve been listening to</em>
          </a>
        </li>
        <li id="linkedin" class="grid_3 alpha">
          <a href="http://www.linkedin.com/in/mptierney">
            <strong>LinkedIn</strong> <em>For business contacts</em>
          </a>
        </li>
        <li id="tumblr" class="grid_3 omega">
          <a href="http://tumble.panpainter.com" rel="me">
            <strong>Tumblr</strong> <em>Chronicling my fascinations</em>
          </a>
        </li>
        <li id="gowalla" class="grid_3 alpha">
          <a href="http://gowalla.com/users/panpainter" rel="me">
            <strong>Gowalla</strong> <em>Places I&rsquo;ve been</em>
          </a>
        </li>
        <li id="flickr" class="grid_3 omega">
          <a href="http://flickr.com/photos/panpainter" rel="me">
            <strong>Flickr</strong> <em>Photos that I&rsquo;ve taken</em>
          </a>
        </li>
      </ul>
    </div>
    <div id="footer" class="content">
      <ul>
        <li>
          <a href="http://panpainter.com"><span>Blog</span></a>
        </li>
      </ul>
      <p>&copy; 2001-<%= Time.new.year %> <a href="mailto:miketierney@gmail.com">Michael Tierney</a>.<em> Inspired by <a href="http://timvandamme.com/">Tim Van Damme</a>.</em></p>
  </div>
</div>
