<div class="container_12">
  <div id="wrapper" class="grid_6 prefix_3 suffix_3 alpha omega">
    <div id="header" class="content">
      <h1>Michael Tierney</h1>
      <h2>Designer, Front-End Developer, Illustrator</h2>
      <div id="vcard">
        <a href="#">Download vCard</a>
      </div>
    </div>
    <div id="body" class="content">
      <p>If this isn't enough for you, then <a href="http://panpainter.com" rel="me">check out my blog</a>.</p>
      <ul>
        <li><a href="http://panpainter.carbonmade.com" rel="me">Portfolio</a></li>
        <li><a href="http://github.com/panpainter" rel="me">Github</a></li>
        <!-- <li><a href="http://panpainter.com" rel="me">Blog</a></li> -->
        <li><a href="http://twitter.com/panpainter" rel="me">Twitter</a></li>
        <li><a href="http://tumble.panpainter.com" rel="me">Tumblr</a></li>
        <li><a href="http://www.linkedin.com/in/mptierney">LinkedIn</a></li>
        <!-- <li><a href="http://mike.panpainter.com" rel="me">Virb</a></li> -->
        <li><a href="http://www.last.fm/user/panpainter" rel="me">Last.fm</a></li>
        <li><a href="http://flickr.com/photos/panpainter" rel="me">Flickr</a></li>
        <li><a href="http://delicious.com/panpainter">Delicious</a></li>
        <!-- <li><a href="http://stackoverflow.com/users/99010/mike-tierney" rel="me">Stack Overflow</a></li>
        <li><a href="http://doctype.com/users/271" rel="me">Doctype</a></li>
        <li><a href="http://gnolia.com/people/panpainter/bookmarks" rel="me">Magnolia</a></li> -->
      </ul>
    </div>
    <div id="footer" class="content">
      <a href="http://panpainter.com">Blog</a>
      <p>&copy; 2001-<%= Time.new.year %> Michael Tierney</p>
  </div>
</div>
