/*
FILENAME: main.css
DESCRIPTION: Base stylesheet for the miketierney.com site
AUTHOR: Michael Tierney > mike@panpainter.com
LAST MODIFIED: November 9, 2009
*/

/* Content Structure:

	=Globals
	=Grid Resets
	=Layout
	=Header
	=Content
	=Footer

*/

/* =Globals */

body {
  background: #e2ded9 url('/images/bg_banner.png') left 60px repeat-x;
  color: #666;
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; /* Normalize fonts across all browsers */
}

a, strong, b {
  line-height: 19px;
} /* Straightens out OS X font rendering */

a:link, a:visited {
  color: #51878a;
  text-decoration: none;
  -webkit-transition: color 0.20s ease, text-shadow .2s ease;
}

a:hover, a:active {
  color: #000;
  text-shadow: 0px 1px 2px #999;
}

/* =Grid Resets */

.alpha {
  clear: left;
}

/* =Layout */

#wrapper {
  margin-top: 40px;
}

.content {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,.17);

  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.17);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.17);
}

/* =Header */

#header {
  background: #fff url('/images/bg_header.png') left 20px repeat-x;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #444;
  overflow: hidden;
  padding: 20px 0px 0px;

  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#header h1, #header h2 {
  padding: 0 20px;
  width: 260px;
}

#header h1, #header h1 a:link, #header h1 a:visited {
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 40px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#header h1 a:link, #header h1 a:visited {
  color: #444;
}

#header h1 a:hover, #header h1 a:active {
  color: #000;
}

#header h2 {
  font: italic 12px/20px Cambria, Georgia, Times, 'Times New Roman', serif;
  margin-top: -5px;
  margin-bottom: 47px;
}

#header #vcard {
  float: right;
  position: relative;
}

#header #vcard a:link, #header #vcard a:visited {
  background: transparent url('/images/ui_images.png') -57px 31px no-repeat;
  display: block;
  height: 95px;
  position: absolute;
    left: 0px;
    top: 0px;
  width: 100px;
}

#header #vcard a span {
  background: transparent url('/images/ui_images.png') -205px 50% no-repeat;
  height: 38px;
  width: 97px;
  position: absolute;
    left: 23px;
    top: 18px;
  text-indent: -9999px;
}

#header #vcard a:hover span, #header #vcard a:active span {
  display: block;
}

/* =Content*/

#body {
  overflow: hidden;
}

#body h3 {
  color: #444;
  font-size: 16px;
}

#body ul li {
  background: #fff url('/images/bg_network.png') left bottom repeat-x;
}

#body ul li.grid_3 {
  margin: 0;
  width: 50%;
}

#body ul li a:link, #body ul li a:visited {
  background: url('/images/ui_images.png') 200px -40px no-repeat;
  border-left: 5px solid;
  color: #444;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color .25s ease, color .25s ease, text-shadow .2s ease;
}

#body ul li a:hover, #body ul li a:active {
  background-position: 200px 23px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#body ul li#carbonmade a {
  border-left-color: #91c600;
}

#body ul li#carbonmade a:hover, #body ul li#carbonmade a:active {
  background-color: #91c600;
}

#body ul li#github a {
  border-left-color: #000;
}

#body ul li#github a:hover, #body ul li#github a:active {
  background-color: #000;
}

#body ul li#twitter a {
  border-left-color: #3cf;
}

#body ul li#twitter a:hover, #body ul li#twitter a:active {
  background-color: #3cf;
}

#body ul li#lastfm a {
  border-left-color: #d81102;
}

#body ul li#lastfm a:hover, #body ul li#lastfm a:active {
  background-color: #d81102;
}

#body ul li#linkedin a {
  border-left-color: #3689b2;
}

#body ul li#linkedin a:hover, #body ul li#linkedin a:active {
  background-color: #3689b2;
}

#body ul li#tumblr a {
  border-left-color: #2c4762;
}

#body ul li#tumblr a:hover, #body ul li#tumblr a:active {
  background-color: #2c4762;
}

#body ul li#gowalla a {
  border-left-color: #452;
}

#body ul li#gowalla a:hover, #body ul li#gowalla a:active {
  background-color: #452;
}

#body ul li#flickr a {
  border-left-color: #ff0084;
}

#body ul li#flickr a:hover, #body ul li#flickr a:active {
  background-color: #ff0084;
}


h3, #body ul li strong, #body ul li em {
  font-size: 16px;
  display: block;
}

#body ul li em {
  font: normal 12px/20px Cambria, Georgia, Times, 'Times New Roman', serif;
}

/* =Contact Page */
dd, dt {
  display: inline;
}

/* =Footer */

#footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

#footer li {
  border-right: 1px solid rgba(0,0,0,.09);
  display: block;
  float: left;
  font-size: 10px;
}

#footer li a:link, #footer li a:visited {
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;

  border-right: 1px solid #fff;
  display: block;
  float: left;
  padding: 15px 12px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: background-image .2s ease;
}

#footer li a:link span, #footer li a:visited span {
  border-radius: 10px;
  color: #444;
  padding: 2px 8px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  -webkit-transition: background-color .25s ease, color .25s ease, text-shadow .2s ease, opacity .2s ease;
}

#footer li a:hover, #footer li a:active {
  background: #fff url('/images/bg_footer.png') left bottom repeat-x;
}

#footer li a:hover span, #footer li a:active span {
  background-color: #888;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

#footer p {
  float: right;
  font-size: 11px;
  line-height: normal;
  padding: 10px;
  text-align: right;
}

#footer p a {
  line-height: normal;
}

#footer p em {
  color: #999;
  display: block;
  font-size: .9em;
  font-style: normal;
}