body {
  background-color: #e2ded9;
  color: #666;
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; /* Normalize fonts across all browsers */
}

a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.alpha {
  clear: left;
}

#wrapper {
  margin-top: 40px;
}

.content {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,.17);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.17);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.17);
}

#header {
  background: #fff url('/images/bg_header.png') left 20px repeat-x;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  color: #000;
  overflow: hidden;
  padding: 20px 0px 0px;
}

#header h1, #header h2 {
  padding: 0 20px;
  width: 260px;
}

#header h1 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#header h2 {
  font: italic 12px/20px Cambria, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 42px;
}

#header #vcard {
  float: right;
}

#footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}